@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2em;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #e7e7e7;
}

input,
textarea,
button {
    font-family: inherit;
}

#navigation,
li,
a {
    font-weight: 500;
    font-size: 18px;
    color: white;
    text-decoration: none;
    list-style: none;
}

header {
    background-color: #23252A;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 30px 10%;
}

#navigation li {
    display: inline-block;
    padding: 0 20px;
}

#navigation li a {
    transition: all 0.3s ease 0s;
}

#navigation li a:hover {
    color: #008800;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#etusivu {
    background-image: url("../images/piggybank.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 720px;
    width: 100%;
    position: relative;
}

#etusivu .wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
}

#etusivu .wrapper .otsikko {
    padding: 10px;
    color: white;
    text-shadow: 2px 2px black;
}

#etusivu .wrapper .kokeile {
    border: 0;
    border: 2px solid white;
    background-color: orange;
    color: black;
    padding: 12px 32px;
    border-radius: 4px;
    cursor: pointer;
    letter-spacing: .5px;
    margin: 15px;
    font-size: 18px;
}

#etusivu .wrapper .kokeile a {
    color: #23252A;
}

#etusivu .wrapper .kokeile:hover {
    background-color: #4CAF50;
}

#etusivu .wrapper .kokeile:hover a {
    color: white;
}

#sovelluksesta {
    width: 100%;
    margin: 10px 0px 10px 0px;
    padding: 10px 0px 10px 0px;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: white;
}

#sovelluksesta .otsikko {
    padding: 20px;
}

#sovelluksesta .teksti {
    font-size: 23px;
    text-align: center;
    color: #433c3c;
    line-height: 28px;
    margin: 20px;
}

#traileri {
    width: 100%;
    margin: 10px 0px 10px 0px;
    padding: 10px 0px 10px 0px;
    text-align: center;
    background-color: white;
}

#traileri .otsikko {
    margin: 20px;
}

#traileri .video {
    margin: 20px;
}

#traileri .linkki {
    margin: 20px;
    display: inline-block;
    color: turquoise;
    text-decoration: underline;
}

@media only screen and (max-width: 1100px) {
    #traileri .video {
        width: 480px;
        height: 270px;
    }
}

#vitsi {
    width: 100%;
    margin: 10px 0px 10px 0px;
    padding: 10px 0px 10px 0px;
    text-align: center;
    background-color: white;
}

#vitsi .otsikko {
    margin: 20px;
}

#vitsi #joke {
    font-weight: bold;
    font-style: italic;
    font-size: 20px;
    margin: 20px;
    padding-left: 10%;
    padding-right: 10%;
}

#vitsi #generate_joke {
    background-color: orange;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    margin: 20px;
}

#vitsi #generate_joke:hover {
    background-color: #4CAF50;
    color: white;
}

#tekijoista {
    width: 100%;
    margin: 10px 0px 10px 0px;
    padding: 10px 0px 10px 0px;
    text-align: center;
    background-color: white;
}

#tekijoista .otsikko {
    margin: 20px;
}

#tekijoista .flex-container {
    display: flex;
    justify-content: center;
}

#tekijoista .tekija {
    border: 2px solid rgba(0, 0, 0, 0.192);
    border-radius: 4px;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
}

#tekijoista .tekija .nimi {
    margin: 20px;
}

#tekijoista .tekija .kuva {
    margin: 20px;
}

#tekijoista .tekija .teksti {
    color: #433c3c;
}

@media only screen and (max-width: 620px) {
    #tekijoista .flex-container {
        flex-direction: column;
        max-width: 620px;
    }
}

#loppu-footer {
    width: 100%;
    margin: 0 auto 0 auto;
    padding: 20px;
    text-align: center;
}

#loppu-footer .copyright {
    float: left;
    font-size: 18px;
    padding-top: 6px;
}

#loppu-footer .socials {
    float: right;
    color: #444444;
    font-size: 28px;
}
#loppu-footer .socials i:hover {
    color: white;
}