@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
body{
    background-color: #e7e7e7;
}
.navigation , li, a{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: white;
    text-decoration: none;
    list-style: none;
}
header{
    background-color: #23252A;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 30px 10%;
}
.navigation li{

    display: inline-block;
    padding: 0 20px;
}
.navigation li a{
    transition: all 0.3s ease 0s;
}
.navigation li a:hover{
    color: #008800;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.etusivu{
    background-image: url("../piggybank.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 720px;
    width:100%;
}
.otsikko{
    margin-left: 25%;
    width: fit-content;
    text-align: center;
    color: white;
    margin-top: 200px;
    background-color: rgba(255, 255, 255, 0.5);
}

.otsikko h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    padding: 10px;
    text-shadow: 2px 2px black;
}
.kokeile{
    border: 0;
    border: 2px solid white;
    background-color: orange;
    color: black;
    padding: 12px 32px;
    border-radius: 4px;
    cursor: pointer;
    letter-spacing: .5px;
    margin-bottom: 15px;
}
.kokeile a{
    color: #23252A;
}
.kokeile:hover{
    background-color: #008800;

}
.kokeile:hover  a{
    color: white;
}

.mainContent{
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: white;
}
.otsikko2{
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    padding: 30px;
}
#teksti{
    font-size: 23px;
    color: #433c3c;
    line-height: 28px
}
